*{
	font-family: 'Montserrat';
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }
#map 
{width: 100%; height: 100vh; 
}
 .filter-maps{
	 position: absolute;
	 top: 1vw;
	 right: 1vw;
	 width: 15vw;
	 z-index: 99999999;
	 background: #fff;
	 border-radius: 4px;
	 padding: 0.5vw 1vw;
 }
.filter-maps__title{
	font-size: 1vw;
	font-weight: 700;
	text-align: center;
	margin-bottom: .5vw;
}
 .wrapper-filter-maps label{
	 font-weight: 500;
	 font-size: 0.8vw;
	 cursor: pointer;
 }
 .wrapper-filter-maps{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
	 margin-bottom: .5vw;
 }
 .btn-watch-all{
	 margin-top: .5vw;
	 font-size: 0.8vw;
	 text-align: center;
	 width: 100%;
	 padding: 0.3vw;
	 border-radius: 4px;
	 background: #0275D8 ;
	 color: #fff;
	 font-weight: 600;

 }